body {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  min-height: 100vh;
}

main {
  > header {
    text-align: center;
    > h1 {
      font-size: 1.5rem;
    }
  }
  padding: 0 10px;
  position: relative;

  .editor {
    width: max(60%, 768px);
    max-width: 1280px;
    margin: 0 auto;
  }
  .codeOpener {
    position: fixed;
    top: 0;
    right: 20px;
    z-index: 100;
    font-size: 15px;
    font-weight: 700;
    display: grid;
    place-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    background-color: rgb(113, 0, 133);
    color: white;
    cursor: pointer;
  }
  .rightPanel {
    position: fixed;
    z-index: 99;
    transform: translateX(100%);
    top: 0;
    right: 0;
    width: min(40%, 500px);
    height: 100vh;
    overflow: auto;
    background-color: rgb(212, 212, 212);
    padding: 0.5rem;
    color: rgb(0, 68, 103);
    transition: transform 0.25s ease-in-out;

    &--open {
      transform: translateX(0);
    }
  }
}
