body {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    min-height: 100vh;
}

main {
    padding: 0 10px;
    display: grid;
    column-gap: 1rem;
    grid-template-columns: max(60%, 768px) min(40%, 500px);

    .rightPanel {
        background-color: rgb(212, 212, 212);
        padding: 0.5rem;
        color: rgb(0, 68, 103);
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

h1 {
    text-align: center;
}